name: stringlocalized
description: Swift String Localized
phrase: string local
insertionScope: statement

$0.wrapperPhrase: local
---

language: swift
-
String(localized: $0, comment: "$describe")
---
